:root {
  --grid-width: 95%;
  --header-size: 1.7rem;
  --header-padding: 4px;
  --header-border-size: 1px;
  --button-padding: 4px;
  --primary-color: rgb(248, 244, 244);
}

* {
  box-sizing: border-box;
}

button,
input,
textarea {
  font: inherit;
}

textarea {
  resize: none;
}

html,
body {
  height: 100%;
}

html {
  font-size: 16px;
}

body {
  font-family: "Lato", sans-serif;
  display: grid;
  grid-template-columns: minmax(auto, 200px) 4fr;
  background-color: var(--primary-color);
}

button {
  font-size: 12px;
  font-weight: bold;
  border: none;
  padding: 4px;
  border-radius: 8px;
}

button:hover {
  cursor: pointer;
  background-color: rgb(225, 219, 219);
}

/* NAV STYLES */

nav {
  background-color: white;
  z-index: 100;
  position: relative;
  box-shadow: 0px 2px 12px 1px rgba(159, 144, 144, 0.76);
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 12px 24px;
}

nav h1 {
  font-size: 2rem;
  font-weight: bold;
  font-style: italic;
  text-transform: uppercase;
  padding: var(--header-padding);
}

#projects {
  margin-top: 15%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
}

/* Set width to enable overflow */
#projects :is(ul, li),
#projects {
  width: 100%;
}

#projects li {
  margin-top: 2px;
  color: rgb(174, 165, 165);
  font-size: 14px;
  cursor: pointer;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
#projects .active_project,
#projects li:hover {
  color: black;
  font-size: inherit;
}

/* MAIN STYLES */
main {
  z-index: 10;
  position: relative;
  padding: 12px;
}

.icon_wrapper {
  display: flex;
  align-items: center;
}

main h2 {
  /* MAKE LESS UGLY WITH LARGE INPUTS */
  width: fit-content;
  background-color: inherit;
  margin-top: 0.7rem;
  /* Line up project title with todo grid */
  margin-left: calc((100% - var(--grid-width)) / 2 - var(--header-border-size) - var(--header-padding));
  font-size: var(--header-size);
  border: none;
  border: var(--header-border-size) solid var(--primary-color);
  padding: var(--header-padding);
  word-wrap: break-word;
  white-space: normal;
}

main h2:focus {
  border: 1px solid black;
  border-radius: 4px;
  outline: none;
}

main button {
  margin-left: calc((100% - var(--grid-width))/2);
  margin-top: 0.2rem;
  border-radius: 0px;
}

.icon_wrapper img {
  cursor: pointer;
  width: 18px;
  margin: 0 6px;
  margin-top: calc(var(--header-size) * 0.2);
  opacity: 0.7;
}

.todo_grid {
  display: grid;
  grid-template-columns: 1fr 2fr repeat(2, 1fr);
  margin: 2rem auto;
  width: var(--grid-width);
  text-align: center;
}

.todo_grid div {
  padding: 8px;
  align-items: center;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  border-bottom: 1px solid black;
}

.todo_grid div:is(:nth-last-child(-n + 4), :nth-child(-n + 4)) {
  border: none;
}

.grid_header {
  background-color: rgb(220, 220, 220);
}

/* DIALOG STYLES */
dialog {
  width: 50%;
  height: 75%;
  border: none;
  border-radius: 14px;
  padding: 0;
  background-color: var(--primary-color);
}

dialog form {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding: 24px 12px;
}

dialog form label {
  font-size: 1.2rem;
  display: flex;
  flex-direction: column;
  gap: 4px;
}

dialog form :is(input, textarea, select) {
  padding: 4px;
  font-size: 1.1rem;
}

button[type="submit"] {
  color: white;
  background-color: rgb(140, 167, 231);
  font-size: 1.1rem;
  width: 33%;
  margin: 10px auto;
}

dialog::backdrop {
  background-color: rgba(0, 0, 0, 0.5);
}

.low {
  background-color: rgb(109, 221, 109);
}

.medium {
  background-color: #fdff76;
}

.high {
  background-color: #ff7c7a;
}

.urgent {
  color: white;
  background-color: rgb(255, 0, 0);
}

option {
  border-radius: 0px;
}
